<h2>Search Directors</h2>
<form action="/directors" method="GET">
    <input type="text" name="name" placeholder="Search Name" value="<%=searchResults.name%>">
    <button type="submit"><i class="las la-search"></i> Search</button>
</form>

<hr>

<% directors.forEach(director=>{%>
<div>
    <%=director.name%>
</div>
<a href="/directors/<%=director.id%>"><i class="lar la-eye"></i>View</a>
<a href="/directors/<%=director.id%>/edit"><i class="las la-user-edit"></i>Edit</a>

<%-include('../partials/deleteForm',{url:`/directors/${director.id}`})%>

<%})%>