<div>
    <label for="name">Title</label>
    <input type="text" name="title"  value="<%=movie.title%>">
</div>

<div>
    <label for="director">Director</label>
    <select name="director" id="director">
        <%directors.forEach(director=>{%>
        <%if(director.id === movie.director){%>
        <option selected label="<%=director.name%>" value="<%=director.id%>">
            <%}else{%>
        <option label="<%=director.name%>" value="<%=director.id%>">
            <%}%>
    <%})%>
    </select>
</div>

<div>
    <label>Release Date</label>
    <input type="date" name="releaseDate" 
        value="<%=movie.releaseDate == null ? '' : movie.releaseDate.toISOString().split('T')[0] %>">
</div>

<div>
    <label>Rating</label>
    <input type="number" name="ratingCount"  min="1" max="10" value="<%=movie.ratingCount%>">
</div>
<div>
    <label >Poster</label>
    <input type="file" name="cover">
</div>

<div>
    <label >Description</label>
    <textarea name="description" ><%=movie.description%></textarea>
</div>